          <div class="checkout-upsell" style="display: none">
            <p class="tac">Add a pair of heels to get <span>free shipping.</span></p>
            <div class="flex-container" id="product-wrapper">
              <img src="{{'placeholder.png' | asset_url}}" />
              <div class="tac two-thirds">
                <p class="nm"><span>Heels& Wedges</span> $18.00</p>
                <p class="nm">medium (us: 7-8.5) / nude | Quantity: 1</p>
                <div class="flex-container">
                  <div class="half button">customize</div>
                  <div class="half button">add to cart</div>
                </div>
            </div>
          </div>
        </div>


<script>
$(document).ready(function() {
    if ($(".section--contact-information").length) {
    $('.checkout-upsell').insertBefore(".section--contact-information").show();
  var flats = 0;
  var wloafers = 0; 
  var wsneakers = 0; 
  var heels = 0;  
  var womenscpak = 0;  
  var mloafers = 0; 
  var msneakers = 0; 
  var menscpak = 0; 
  var total = '{{checkout.item_count}}';
  console.log(total) 
  // calculates the current cart quantities by product id
  {% for item in checkout.line_items %}
    {% assign product_id = item.product.id %} 
    {% case product_id %}
    {% when  4832850820 %}
      flats = '{{item.quantity}}'
    {% when 8081586504 %}
      womenscpak = '{{item.quantity}}'
    {% when 89803620369 %}
      heels = '{{item.quantity}}'
    {% when 4833042564  %}
      wloafers = '{{item.quantity}}'
    {% when 4833046212 %}
      wsneakers = '{{item.quantity}}'
    {% when 8797677073 %}
     mencpak = '{{item.quantity}}'
    {% when 4832899012 %}
      msneakers = '{{item.quantity}}'
    {% when 4832930500 %}
      mloafers = '{{item.quantity}}'
    {% endcase %} 
  {% endfor %}
  // determines what was just added to the cart and adjusts the variable quantities

  if (total == 1 ) {
    if (flats == 1 ) {
      $('#cart-add-ons').show().html('Your heels need love too!')
    }
    else if (wloafers == 1) {
      $('#cart-add-ons').show().html('Your sneakers need love too!')
    }
    else if (wsneakers == 1) {
      $('#cart-add-ons').show().html('Your loafers need love too!')    
    }
    else if (mloafers == 1 ) {
      $('#cart-add-ons').show().html('Your sneakers need love too!<br>Upgrade to a closet pack and get $4 off.')
          }
    else if (msneakers == 1 ) {
      $('#cart-add-ons').show().html('Your loafers need love too!<br>Upgrade to a closet pack and get $4 off.')
    }
    else if (heels == 1) {
      $('#cart-add-ons').show().html('Your flats need love too!')
    }
    else if (womenscpak == 1) {
      $('#cart-add-ons').show().html('Add one more pair and<br>receive <b>free shipping</b>!')
     }
  }
  else if (total == 2) {
    if (flats == 1 && wloafers == 1 ) {
      $('#cart-add-ons').show().html('Upgrade to a Closet Pack and receive<br> <b>$5 off</b> and a pair of Gekks for sneakers!')
    }
    else if (flats == 1 && wsneakers == 1 ) {
      $('#cart-add-ons').show().html('Upgrade to a Closet Pack and receive<br> <b>$5 off</b> and a pair of Gekks for loafers!')
    }
    else if (wsneakers  == 1 && wloafers == 1 ) {
      $('#cart-add-ons').show().html('Upgrade to a Closet Pack and receive <b>$5 off</b> and a pair of Gekks for sneakers!')
    }
    else if (womenscpak >= 1 ) {
      $('#cart-add-ons').show().html('Congratulations! Your order qualifies <br> for <b>free shipping</b>.')

    }
  }
  else if (total == 3) {
    if (womenscpak == 0 && menscpak == 0) {
      $('#cart-add-ons').show().html('Add one more pair and<br> receive <b>free shipping</b>!')
    }
  }
  else if (total >= 4) {
    $('#cart-add-ons').show().html('Congratulations! Your order qualifies <br> for <b>free shipping</b>.')
  }
  }

})


 </script>