<form action="/cart/add" method="post" id="product-form-{{ product.id }} t" class="checkout" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
{% if product.title != "Select" %}
 
 <section id="product-details">
    {% if product.type == "Closet Pack" or product.type == "Gift Card" %}
      <h3>{{product.title}}</h3>
    {% else %}
      <h3>{{ product.collections.first.title }}'s {{product.title}}</h3>
    {% endif %}
    <p class="subscript">{{ product.description}}</p>
    {% if product.available %} 
    <div class="price{% if product.price < product.compare_at_price_max %} sale{% endif %}" itemprop="price" content="{{ product.compare_at_price | money_without_currency }}">
      <p id="product-price-{{ product.id }}">{{ product.price | money }}</p>
      {% if product.price < product.compare_at_price_max and product.type == "Closet Pack" %}<p style="display: inline-block;" class="subscript" id="compare-price-{{ product.id }}">{{ product.compare_at_price | money }}</p>{% endif %}
      {% unless product.title == "Select" or product.title == "Gift Cards" %} 
      <div id="review-details">
      <a href="/pages/reviews">
        <div class="prodrating">
          {% if product.title == "Ballet Flats" or product.type == "Closet Pack" or product.title == "Heels & Wedges" %}
            <span class="pf">
          {% else %}
            <span>
          {% endif%}
            ☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
        <div id="orankl-summary-thumbnail" style="display:inline-block">
          <div class="orankl-summary" data-product-key="{{ product.id }}" style="text-align:left;padding-bottom:0px">
            <style scoped>
              #orankl-summary-thumbnail .orankl-summary span { display: inline-block; text-transform: lowercase !important; font-weight: 900 !important;margin-left:0 !important;cursor:auto!important;color: #6DCDB8;  }
              #orankl-summary-thumbnail .orankl-summary .icon-orankl-star { display: none !important; font-size: 22px !important; width: 26px !important; }
            </style>
          </div>
        </div>
       </div>
     </a>
    </div>  
      {% endunless %}
      {% else %}
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">                          
        <link itemprop="availability" href="http://schema.org/OutOfStock">
        <p><span>Sold Out</span></p>
      {% endif %}
  </section>
  
  {% if product.available and product.variants.size > 1 and product.type != "Gift Card"%}
    {% include 'swatch' with 'Color' %}
  {% endif %}
  {% if product.available %}
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <link itemprop="availability" href="http://schema.org/InStock">
    
   <select name="id" id="productSelect-{{ product.id }}" class="product-single__variants" style="display: none;">
      {% for variant in product.variants %}
     	{% if product.collection.first.title == "Men" %}
           {% if product.title != "Men's Closet Pack" %}
           	<option {% if forloop.index == 4 %}selected="selected"{% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
           {% else %}
           	<option {% if forloop.index == 2 %}selected="selected"{% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
           {% endif %}
        {% else %} 
           {% if product.title != "Ballet Flats" %}
           	<option {% if forloop.index == 2 %}selected="selected"{% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
           {% else %}
           	<option {% if forloop.index == 3 %}selected="selected"{% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
           {% endif %}
        <option data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
        {% else %}
        <option disabled="disabled" style="display: none;">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
        {% endif %}
      {% endfor %}
   </select>
   <select name="quantity" id="quantity">
<!--      <option value="" disabled selected>quantity</option> -->
     {% for i in (1..10) %}
     <option value="{{ i }}">{{ i }}</option>
     {% endfor %}         
  </select>  
  {% if product.title == "Gift Cards" %}
    <div class="spacer"></div>
  {% else %}
    <p class="subscript clickable" id="size-chart">sizing chart</p>
  {% endif %}
  <button type="submit" name="add" id="add-to-cart-{{ product.id }} add-cart" class="background-green text-white"><span>add to cart</span></button>
  {% unless product.title == "Select" or product.title == "Gift Cards" %}
    {% assign select = collections.all.products[6]%}
    <div class="example-shoes border-beige">
      <p class="tac nm">Examples Of Shoes These Work In</p>
      <div class="scrollp leftp text-beige clickable">➤</div>
      <div class="shoe-wrapper">
         {% case product.title %}
          {% when "Ballet Flats" %}
            {% for image in select.images offset: 103 limit: 15 %}
             <div class="shoe-count"><img src="{{ image | product_img_url: 'compact' }}" /></div>
            {% endfor %}
          {% when "Loafers & Slip-Ons" %}
           {% if product.collections.first.title ==  "Women" %} 
            {% for image in select.images offset: 118 limit: 6 %}
              <div class="shoe-count"><img src="{{ image | product_img_url: 'compact' }}" /></div>
            {% endfor %}
            {% else %}
               {% for image in select.images offset: 95 limit: 7 %}
               <div class="shoe-count"><img src="{{ image | product_img_url: 'compact' }}" /></div>
               {% endfor %}
            {% endif %}
          {% when "Sneakers & Lace-Ups" %}
           {% if product.collections.first.title == "Women" %}
            {% for image in select.images offset: 125 limit: 7%}
              <div class="shoe-count"><img src="{{ image | product_img_url: 'compact' }}" /></div>
            {% endfor %}
          {% else %}
            {% for image in select.images offset: 87 limit: 8 %}
              <div class="shoe-count"><img src="{{ image | product_img_url: 'compact' }}" /></div>
            {% endfor %}             
          {% endif %}
          {% when "Women's Closet Pack" %}
            {% for image in select.images offset: 132 limit: 9 %}
              <div class="shoe-count"><img src="{{ image | product_img_url: 'compact' }}" /></div>
            {% endfor %}  
            {% when "Men's Closet Pack" %}
            {% for image in select.images offset: 141 limit: 8 %}
              <div class="shoe-count"><img src="{{ image | product_img_url: 'compact' }}" /></div>
            {% endfor %}                               
            {% when "Heels & Wedges" %}
            {% for image in select.images offset: 174 limit: 9 %}
              <div class="shoe-count"><img src="{{ image | product_img_url: 'compact' }}" /></div>
            {% endfor %} 
          {% endcase %}
       </div>
       <div class="scrollp rightp text-beige clickable">➤</div>
    </div>
  {% endunless %}
</form>

<div style="display: none;" id="display-size" class="sizing-chart border-lightgray modal">
  <div class="accent-padding">
   <p class="nm klaviyo_header_close tar clickable">✕</p>
  <table>
    <tr>
      <th colspan="2" class="blank-row"></th>
      <th class="t-size table-title">small</th>
      <th class="t-size table-title">medium</th>
      <th class="t-size table-title">large</th>
    </tr>
    <tr class="lg">
      <td rowspan="2" class="table-title"><span>mens</span></td>
      <td class="table-title lg">US</td>
      <td>6.5-8</td>
      <td>8.5-11</td>
      <td>11.5+</td>
    </tr>
    <tr class="dg">
      <td class="table-title">UK</td>
      <td>39-41</td>
      <td>42-44</td>
      <td> 44+ </td>
    </tr>
    <tr class="lg">
      <td rowspan="2" class="table-title"><span>womens</span></td>
      <td class="table-title lg">US</td>
      <td>5-6.5</td>
      <td>7-8.5</td>
      <td>9-11.5</td>
    </tr>
    <tr class="dg">
      <td class="table-title">UK</td>
      <td>35-37</td>
      <td>38-39</td>
      <td>40-42</td>
    </tr>
  </table>
</div>
</div>

{% unless product.title == "Select" %} 
{% if product.available %}
<script>
    $('.swatch').prepend("<p id='color-label'>color:</p>")
   $('.scrollp').on("click", function() { 
    var wrapper = $('.shoe-wrapper'); 
    if ($(this).hasClass('rightp')) { 
      $(wrapper).animate( { scrollLeft: '+=300' });
    }
    else {
      $(wrapper).animate({scrollLeft: '-=300'});  
    }
    }); 


  var selectCallback_{{ product.id }} = function(variant, selector) {

    // BEGIN SWATCHES
    if (variant) {
      var form = jQuery('#' + selector.domIdPrefix).closest('form');
      for (var i=0,length=variant.options.length; i<length; i++) {
        var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
        if (radioButton.size()) {
          radioButton.get(0).checked = true;
        }
      }
    }
    // END SWATCHES
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector,
      product_id: '{{ product.id }}',
      translations: {
      add_to_cart : "{{ settings.add_to_cart_text }}",
      sold_out : "Sold Out",
      unavailable : "Unavailable"
    }
                       });
  };
  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect-{{ product.id }}', {
                                product: {{ product | json }},
                                onVariantSelected: selectCallback_{{ product.id }},
                                enableHistoryState: true
                                });


  });
</script>
{% endif %}
{% endunless %} 
{% endif %} 
{% else %}
<div class="fw tac">
  <div class="flex-container-no select-grid clickable">
    <div class="half" id="shop-flats"><h3><a href="/products/flats-version" class="text-white">Flats</a></h3></div>
    <div class="half" id="shop-sneakers"><h3><a href="/products/womens-sneaker-version" class="text-white">Sneakers</a></h3></div>
  </div>
  <div class="flex-container-no select-grid clickable">
    <div class="half" id="shop-loafers"><a href="/products/womens-loafer-version" class="text-white"><h3>Loafers</h3></a></div>
    <div class="half" id="shop-heels"><a href="/products/heels" class="text-white"><h3>Heels</h3></a></div>
  </div>
</div>
</form>
{% endif %}