<!doctype html>
<html lang="en">
  <head> 
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, archive">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="description" content="{{ page_description | escape }}">
    <meta name="keywords" content="">
    <meta name="google-site-verification" content="oWg2J4dY3iWAFEik74Rdzx-fCF_-Yde7dCNroVYIIGU">
    <title>Gekks™ | The Innovative No Show Sock for Flats, Loafers, & Sneakers</title>
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="icon" type="image/png" href="{{ 'Gekks-Favicon.png' | asset_url }}">
    {{ 'style.css' | asset_url | stylesheet_tag }}

    {{ 'custom.scss.css' | asset_url | stylesheet_tag }}
<!--   HIVEWYRE   -->
    <script src="https://js.b1js.com/tagcontainer.js?id=81a5074201574025b3c660f9828e28ba&type=1"></script>
    <script src="{{'custflow.jquery.js | asset_url}}"></script>
    <script src="{{ 'jquery.min.js' | asset_url }}"></script>
    <script src="{{  'api.jquery.js' | shopify_asset_url }}" async></script>
    <script type="application/javascript">(function(w,d,t,r,u){w[u]=w[u]||[];w[u].push({'projectId':'10000','properties':{'pixelId':'10035757'}});var s=d.createElement(t);s.src=r;s.async=true;s.onload=s.onreadystatechange=function(){var y,rs=this.readyState,c=w[u];if(rs&&rs!="complete"&&rs!="loaded"){return}try{y=YAHOO.ywa.I13N.fireBeacon;w[u]=[];w[u].push=function(p){y([p])};y(c)}catch(e){}};var scr=d.getElementsByTagName(t)[0],par=scr.parentNode;par.insertBefore(s,scr)})(window,document,"script","https://s.yimg.com/wi/ytc.js","dotq");</script>
    <script type="text/javascript">
      var global_money_format = '{{ shop.money_format }}';
    </script>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PWJVTQQ');</script>
<!-- End Google Tag Manager -->
    <!--  Snapchat Pixel  -->
    <script type='text/javascript'>
  (function(win, doc, sdk_url){
  if(win.snaptr) return;
  var tr=win.snaptr=function(){
  tr.handleRequest? tr.handleRequest.apply(tr, arguments):tr.queue.push(arguments);
};
  tr.queue = [];
  var s='script';
  var new_script_section=doc.createElement(s);
  new_script_section.async=!0;
  new_script_section.src=sdk_url;
  var insert_pos=doc.getElementsByTagName(s)[0];
  insert_pos.parentNode.insertBefore(new_script_section, insert_pos);
})(window, document, 'https://sc-static.net/scevent.min.js');

  snaptr('init','7f9f2cbd-0592-42e0-aede-d8bdcd4182be',{
  'user_email':'<USER-EMAIL>'
})
  snaptr('track','PAGE_VIEW') 
</script>
<!-- End Snapchat  -->
    <!--   Pinterest Pixel   -->
<script>
!function(e){if(!window.pintrk){window.pintrk = function () {
window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
      n=window.pintrk;n.queue=[],n.version="3.0";var
      t=document.createElement("script");t.async=!0,t.src=e;var
      r=document.getElementsByTagName("script")[0];
      r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
pintrk('load', '2615164668106', {em: '<user_email_address>'});
pintrk('page');
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt=""
      src="https://ct.pinterest.com/v3/?tid=2615164668106&pd[em]=<hashed_email_address>&noscript=1" />
</noscript>
    
 <script>
pintrk('track', 'pagevisit');
</script>
<!-- end Pinterest Tag -->

    {{ content_for_header }}
    <script type="application/javascript">(function(w,d,t,r,u){w[u]=w[u]||[];w[u].push({'projectId':'10000','properties':{'pixelId':'10035757'}});var s=d.createElement(t);s.src=r;s.async=true;s.onload=s.onreadystatechange=function(){var y,rs=this.readyState,c=w[u];if(rs&&rs!="complete"&&rs!="loaded"){return}try{y=YAHOO.ywa.I13N.fireBeacon;w[u]=[];w[u].push=function(p){y([p])};y(c)}catch(e){}};var scr=d.getElementsByTagName(t)[0],par=scr.parentNode;par.insertBefore(s,scr)})(window,document,"script","https://s.yimg.com/wi/ytc.js","dotq");</script>
     <div id="fb-root"></div>
    <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
           {{'custom.jquery.js' | asset_url | script_tag }}

  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PWJVTQQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <header class="do-plus">
      <div class="wrap cbb-ignored-image" style="text-align: center;">
       <a href="/products/womens-closet-pack" onClick="ga('send', 'event', 'Banner', 'Click', 'Upgrade to Closet Pack');">
           <h4 style="margin-top: 10px; letter-spacing: normal;">$5 off on Women's Closet Packs</h4></a>
         </span>
       
        <a href="/?sh=d">
          <img src="{{'blogo-q.png' | asset_url}}" alt="Gekks" class="blogo"/>
        </a>
        
        <span class="nav-display desktop"><span>Show Menu</span></span>
        <div class="{% if settings.mobile_landing_page == 'true' %}desktop{% endif %}" id="top-nav">
          <nav>
            <ul>
              {% for link in linklists.main-menu-uu.links %}
              {% if link.title == "women" %}
              <li class="collection"><a href="{{ link.url }}" onClick="ga('send', 'event', 'Nav', 'Click', 'Women');">{{ link.title | escape }}</a></li>
              <ul class="mobile-nav" style="display: none;">
                {% for link in linklists.product-sub-nav1.links %}                           
                <li><a href="{{ link.url }}" onClick="ga('send', 'event', 'SubNav', 'Touch', 'Women-Product');">{{ link.title | escape }}</a></li>
                {% endfor %}
              </ul>
              {% elsif link.title == "men" %}
              <li class="collection-m"><a href="{{ link.url }}" onClick="ga('send', 'event', 'Nav', 'Click', 'Men');">{{ link.title | escape }}</a></li>
              <ul class="mobile-nav" style="display: none;">
                {% for link in linklists.product-sub-nav1-men.links %}                           
                <li><a href="{{ link.url }}" onClick="ga('send', 'event', 'SubNav', 'Touch', 'Men-Product');">{{ link.title | escape }}</a></li>
                {% endfor %}
              </ul>
              {% else %}
              <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
              {% endif%}
              {% endfor %}  
              <li id="nav-hiw"><a href="#">how it works</a></li>

              {% if shop.customer_accounts_enabled %}
              {% if customer %}
              <li class="mobile"><a href="/account">Your Account</a></li>
              <li class="mobile">{{ 'Logout' | customer_logout_link }}</li>
              {% else %}
              <li class="mobile">{{ 'Login' | customer_login_link }}</li>
              <li class="mobile">{{ 'Register' | customer_register_link }}</li>
              {% endif %}
              {% endif %}
            </ul>
          </nav>
          <div>
            <div class="search">
              <span class="search-toggle" role="link">Search</span>
              <form action="/search" method="get">
                <input type="submit" value="Search" style="background-color: transparent !important;">
                <input type="hidden" value="product" name="type">
                <input type="text" placeholder="search products..." value="{% if search.performed %}{{ search.terms | escape | downcase }}{% endif %}" name="q" id="search-product"> 
                <span class="close">Close</span>
              </form>
            </div>
            <div class="user-info">
              {% if shop.customer_accounts_enabled %}
              <div class="sign-in">
                <ul>
                  {% if customer %}
                  <li><a href="/account/">Your Account</a></li>
                  <li><a href="/account/addresses/">Addresses</a></li>
                  <li>{{ 'Logout' | customer_logout_link }}</li>
                  {% else %}
                  <li>{{ 'Login' | customer_login_link }}</li>
                  <li>{{ 'Register' | customer_register_link }}</li>
                  {% endif %}
                </ul>
              </div>
              {% endif %}
              <a href="/cart/" class="cart"><span>{{ cart.item_count }}</span> <image class="cart-icon" src="{{'new-cart.png' | asset_url}}" style="margin-bottom: -12px;"/></a>
            </div>
          </div>
          <ul class="icon-nav collection"> <li><a href="/products/womens-closet-pack"> <img src="{{'womensclosetpack.png' | asset_url}}" class="select-icons-cp"/> <h4>Women's Closet Pack</h4> </a> </li><li><a href="/products/flats-version"> <img src="{{'balletflaticon.png' | asset_url}}" class="select-icons"/> <h4>Ballet Flats</h4> </a> </li><li><a href="/products/womens-loafer-version"> <img src="{{'womenloafericon.png' | asset_url}}" class="select-icons"/> <h4>Loafers & Slip-Ons</h4> </a> </li><li><a href="/products/womens-sneaker-version"> <img src="{{'womensneakericon.png' | asset_url}}" class="select-icons"/> <h4>Sneakers & Lace-Ups</h4> </a> </li></ul> <ul class="icon-nav-m collection-m"> <li> <a href="/products/mens-closet-pack"> <img src="{{'mensclosetpackicon.png' | asset_url}}" class="select-icons-cp-m"/> <h4>Men's Closet Pack</h4> </a> </li><li> <a href="/products/sneaker-version"> <img src="{{'mensneakericon.png' | asset_url}}" class="select-icons"/> <h4>Sneakers & Lace-Ups</h4> </a> </li><li> <a href="/products/loafer-version"> <img src="{{'mensloafericon.png' | asset_url}}" class="select-icons"/> <h4>Loafers & Slip-Ons</h4> </a> </li></ul> </div>
        {% if settings.mobile_landing_page == 'true' %} <a href="/pages/store" class="button blue-white mobile">go to store</a> {% endif %}
      </div>
    </header>

    {% if shop.metafields.locksmith.active %}{% include 'locksmith' %}{% else %}{{ content_for_layout }}{% endif %}
       <footer class="do-plus">
      <div class="wrap">
        <div class="clearfix">
          <div class="half">
            <nav>
              <ul>
                <h3>help</h3>
                {% for link in linklists.footer-1.links limit: 5%}<li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>{% endfor %}
              </ul>
                <ul>
                <h3>company</h3>
                {% for link in linklists.footer-1.links limit: 4 offset: 5%}<li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>{% endfor %}
              </ul>
                 <ul>
                <h3>shop</h3>
                {% for link in linklists.footer-1.links limit: 4 offset: 9%}<li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>{% endfor %}
              </ul>
            </nav>
             <img src="{{'blogo-white.png' | asset_url}}" alt="GEKKS" id="flogo" />
          </div>
          <div class="half" style="padding-top: 0;">
            <div id="referafriend" onclick="ga('send', 'event', 'Refer', 'Footer', 'Click');">refer a friend!</div>
                <form action="https://manage.kmail-lists.com/subscriptions/subscribe?g=Buguta" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                  <input type="email" value="" name="EMAIL" class="required email email_update" id="mce-EMAIL" placeholder="sign up for exclusive deals" style="border: #33ffcc 2px solid; line-height: 1; width: 85%; margin-top: 20px; box-sizing: border-box;padding: 15px;color: #33ffcc;">
                  <input type="submit" value="go!" name="subscribe" id="mc-embedded-subscribe" class="btn" style="width: 15%; text-align: center; box-sizing: border-box;font-size: 13pt; margin-left: -5px; padding: 0;">
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response"></div>
                    <div class="response" id="mce-success-response"></div>
                  </div>
              </form>
      
          </div>
        </div>
                     <img src="{{'blogo-white.png' | asset_url}}" alt="GEKKS" id="flogo-1" style="display: none;" />

              <ul class="social" style="text-align: center;margin-top: 50px; margin-bottom: 10px;">
                {% if settings.facebook_link != '' %}<li class="soc-fb"><a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" target="_blank">Facebook</a></li>{% endif %}
                {% if settings.pinterest_link != '' %}<li class="soc-pi"><a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" target="_blank">Pinterest</a></li>{% endif %}
                {% if settings.instagram_link != '' %}<li class="soc-ig"><a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" target="_blank">Instagram</a></li>{% endif %}
              </ul>
        <p style="text-align: center;">© {{ shop.name }} {{ 'now' | date: '%Y' }}</p>
      </div>
    </footer>
    <!-- Google Code for Remarketing Tag -->
    <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 973442114;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
<script>
   function createCookie(name,value,days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + value + expires + "; path=/";
  }

  $(document).ready(function(){
    createCookie("gekksVisit", "remarketing", 7)
    createCookie("flowFinish", "learnMore", 14)
  })
</script>
      <div style="display:none;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/973442114/?value=0&amp;guid=ON&amp;script=0"/>
      </div>
    </noscript>    
    <!-- END Google Code for Remarketing Tag --> 
  </body>

</html>
