
<main id="blog-template"> 
  <section class="background-green tac page-header">
    <h2 class="text-white nmb">Welcome to</h2>
    <h1 class="nmt text-white">The Gekks Blog</h1>
  </section>
  {% if blog.articles.size > 0 %}
    {% paginate blog.articles by 3 %}
    {% for article in blog.articles %}
      {% assign highlight = article.content | split: '.'%}  
      {% assign even_or_odd = article.id | modulo:2 %}
      {% if even_or_odd == 0%}
        <section class="flex-container-no fw background-beige index-padding">
          <div class="half">
            <div class="title-border"></div>
            <h2 class="nmb"><a href="{{ article.url }}" title="{{ article.title | escape }}" class="text-green">{{ article.title }}</a></h2>
            <p class="nm"><span>{{ article.author }}</span></p>
            <p class="nmt">{{ article.published_at | date: "%B %d, %Y" }}</p>
            <p>{{ article.excerpt }}</p>
            <h3 class="text-green">"{{ highlight | first | strip_html }}"</h3>
            <div class="blog-btn background-darkgray accent-padding tac"><a href="{{ article.url }}" class="text-green"><h3 class="nm">read more</h3></a></div>
          </div>
          <div class="half tac">
            <img src="{{ article.image.src | img_url: '300x' }}" alt="{{article.title}}" />
          </div>
        </section>
      {% else %}
      <section class="flex-container-no fw index-padding">
        <div class="half tac">
            <img src="{{ article.image.src | img_url: '300x' }}" alt="{{article.title}}" />
          </div>
        <div class="half">
          <div class="title-border"></div>
           <h2 class="nmb"><a href="{{ article.url }}" title="{{ article.title | escape }}" class="text-green">{{ article.title }}</a></h2>
           <p class="nm"><span>{{ article.author }}</span></p>
           <p class="nmt">{{ article.published_at | date: "%B %d, %Y" }}</p>
           <p>{{ article.excerpt }}</p>
            <h3 class="text-green">"{{ highlight | first | strip_html }}."</h3>

            <div class="blog-btn background-darkgray accent-padding tac"><a href="{{ article.url }}" class="text-green"><h3 class="nm">read more</h3></a></div>
        </div>
      </section>
      {% endif %}
      {% endfor %}
		{% endpaginate %}
  {% endif %}
</main>

