<div class="index-sections">
  <div>
    <div id="index-page"> 
      <section class="fw flex-container-no" id="atf1">
        <div>
          <h1 class="nmb">Meet Your <br> Solemate.</h1>
          <div id="custom-gekks"> 
            <a href="/products/womens-closet-pack">
            <div class="button border-green text-green tac" onclick="ga('send', 'event', 'Above the Fold CTA', 'Click', 'Shop Your Gekks');">Shop Now</div>
            </a>
          </div>
        </div> 
      </section> 
 



<section class="fw endorsements-features" id="featured"><ul class="background-beige"><li><h3>featured in</h3></li><li><img src="{{'BuzzFeed.png' | asset_url}}" alt="BuzzFeed"/></li><li><img src="{{'simple.png' | asset_url}}" alt="Real Simple" /></li><li><img src="{{'vogue.png' | asset_url}}" alt="Vogue"/></li><li><img src="{{'maxim.png' | asset_url}}" alt="Maxim"/></li><li><img src="{{'who-what-wear-press.png' | asset_url}}" alt="Teen Vogue"/></li></ul> </section> <section class="fw index-padding flex-container"><div><div class="title-border"></div><h2 class="nmb">Check it out<br>for yourself</h2><p class="subscript tac mo-plus fw">drag to rotate</p></div> <iframe class="Sirv" id="spin-frame" src="https://sibepher.sirv.com/Geek%20Flats%20NEW/Geek%20Flats%20NEW.spin" width="66%" frameborder="0"></iframe><ul id="interactive-gekks"><li class="current-switch"><h3><div class="switch-button clickable" id="switch-to-flat">flats</div></h3></li><li><h3><div class="switch-button clickable" id="switch-to-loafer">loafers</div></h3></li><li><h3><div class="switch-button clickable" id="switch-to-sneaker">sneakers</div></h3></li><li class="ndo-plus"><h3 class="vhidden">X</h3></li><li><h3><div class="shoe-switch clickable">see in shoe</div></h3></li></ul> </section> <section class="fw tac" id="mission"><div><h2 class="text-green nm">Our Mission</h2><p>Gekks use innovative technology and premium ingredients, so our customers and <br class="ndo-plus"> their soles can enjoy the day-to-day in comfort and style.</p> </div></section> <section class="index-padding"><div class="title-border"></div><h2>The most innovative no show sock</h2><ul class="icon-display"><li data-aos="slide-up"><img data-src="{{'sweat.svg' | asset_url}}" class="lazyload" alt="Sweat Reducing"/><br><span class="text-green">reduces foot sweat & odor</span></li><li data-aos="slide-up"><img data-src="{{'comfortable.svg' | asset_url}}" class="lazyload" alt="Comfortable" /><br><span class="text-green">comfortable</span></li><li data-aos="slide-up"><img data-src="{{'convenient.svg' | asset_url}}" class="lazyload" alt="Convenient"/><br><span class="text-green">convenient</span></li><li data-aos="slide-up"><img data-src="{{'longlasting.svg' | asset_url}}" class="lazyload" alt="Long Lasting" /><br><span class="text-green">long lasting</span></li></ul> </section> 

<section id="shop-grid">
  <div id="lifestyle-w" class="ndo-plus"><img data-src="{{'heels-lifestyle.jpg' | asset_url}}" class="lazyload of" />
  </div> 
  <a href="/products/womens-closet-pack" onclick="ga('send', 'event', 'Masonry', 'Click', 'Women');"><div id="shop-w">
    <h2 class="text-white">shop women</h2>
  </div>
  </a> 
  <a href="/products/mens-closet-pack" onclick="ga('send', 'event', 'Masonry', 'Click', 'Men');"><div id="shop-m"><h2 class="text-white">shop men</h2></div></a>

  <div id="lifestyle-m" class="ndo-plus"><img data-src="{{'sneakers-lifestyle.jpg' | asset_url}}" class="lazyload of" /></div> </section>

      <iframe src="https://gekksworks.herokuapp.com/welcome/show" id="iFrame1"/> </iframe>
<style>
iframe {
    width: 100%;
    border: none;
    height: 600px;
    overflow-y: scroll;
  }
</style> 
<section id="take-the-quiz" class="tac"><h1 class="text-green tac">Find Your Perfect Match.</h1> <a href="/pages/customize"><div class="button border-green text-green" onclick="ga('send', 'event', 'Index Page', 'Click', 'Customize Flow');">Start</div></a> </section></div></div></div> <script>on_index=true;</script>

<script>
  $(document).ready(function () {
    setInterval(function(){
      if ($("#custom-gekks").is(":visible")) {
        $( ".button" ).first().effect( "shake", {direction: 'right', distance: '5', times: 1 }, 600 )
      }
      }, 6000);
  }); 
</script>