<div class="index-sections">
  <div>
    <div id="index-page"> 
      <section class="fw flex-container-no" id="atf1">
        <div>
          <h1 class="nmb">Meet Your <br> Solemate.</h1>
          <div id="custom-gekks"> 
            <a href="/products/womens-closet-pack">
            <div class="button border-green text-green tac" onclick="ga('send', 'event', 'Above the Fold CTA', 'Click', 'Shop Your Gekks');">Shop Now</div>
            </a>
          </div>
        </div> 
      </section> 
      <section class="fw flex-container-no background-green" id="atfb">
        <div class="fw">
          <h1 class="nmb text-white tac">Silver yarn that<br> slays the stench<br> and saves your shoes.</h1>
          <div id="custom-gekks" class="tac" style="margin-top: 20px"> 
            <a href="/products/womens-closet-pack">
            <div class="button border-white text-white tac" style="margin:0;" onclick="ga('send', 'event', 'Above the Fold CTA', 'Click', 'Shop Your Gekks');">Shop Now</div>
            </a>
          </div>
        </div> 
      </section>



<section class="fw endorsements-features" id="featured"><ul class="background-beige"><li><h3>featured in</h3></li><li><img src="{{'BuzzFeed.png' | asset_url}}" alt="BuzzFeed"/></li><li><img src="{{'simple.png' | asset_url}}" alt="Real Simple" /></li><li><img src="{{'vogue.png' | asset_url}}" alt="Vogue"/></li><li><img src="{{'maxim.png' | asset_url}}" alt="Maxim"/></li><li><img src="{{'who-what-wear-press.png' | asset_url}}" alt="Teen Vogue"/></li></ul> </section> <section class="fw index-padding flex-container"><div><div class="title-border"></div><h2 class="nmb">Check it out<br>for yourself</h2><p class="subscript tac mo-plus fw">drag to rotate</p></div> <iframe class="Sirv" id="spin-frame" src="https://sibepher.sirv.com/Geek%20Flats%20NEW/Geek%20Flats%20NEW.spin" width="66%" frameborder="0"></iframe><ul id="interactive-gekks"><li class="current-switch"><h3><div class="switch-button clickable" id="switch-to-flat">flats</div></h3></li><li><h3><div class="switch-button clickable" id="switch-to-loafer">loafers</div></h3></li><li><h3><div class="switch-button clickable" id="switch-to-sneaker">sneakers</div></h3></li><li class="ndo-plus"><h3 class="vhidden">X</h3></li><li><h3><div class="shoe-switch clickable">see in shoe</div></h3></li></ul> </section> <section class="fw tac" id="mission"><div><h2 class="text-green nm">Our Mission</h2><p>Gekks use innovative technology and premium ingredients, so our customers and <br class="ndo-plus"> their soles can enjoy the day-to-day in comfort and style.</p> </div></section> <section class="index-padding"><div class="title-border"></div><h2>The most innovative no show sock</h2><ul class="icon-display"><li data-aos="slide-up"><img src="{{'sweat.svg' | asset_url}}" alt="Sweat Reducing"/><br><span class="text-green">reduces foot sweat & odor</span></li><li data-aos="slide-up"><img src="{{'comfortable.svg' | asset_url}}" alt="Comfortable" /><br><span class="text-green">comfortable</span></li><li data-aos="slide-up"><img src="{{'convenient.svg' | asset_url}}" alt="Convenient"/><br><span class="text-green">convenient</span></li><li data-aos="slide-up"><img src="{{'longlasting.svg' | asset_url}}" alt="Long Lasting" /><br><span class="text-green">long lasting</span></li></ul> </section> <section id="shop-grid"><div id="lifestyle-w" class="ndo-plus"></div> <a href="/products/womens-closet-pack" onclick="ga('send', 'event', 'Masonry', 'Click', 'Women');"><div id="shop-w"><h2 class="text-white">shop women</h2></div></a> <a href="/products/mens-closet-pack" onclick="ga('send', 'event', 'Masonry', 'Click', 'Men');"><div id="shop-m"><h2 class="text-white">shop men</h2></div></a><div id="lifestyle-m" class="ndo-plus"></div> </section> <section id="review-highlights" class="index-padding-so background-beige"><h2>reviews</h2><ul class="flex-container"><li data-aos="slide-up"><p>They really do make you feel like you are wearing a sock and you can wear them over and over. I even had to put my back up in my 11 year old daughters first day of school shoes, she is hooked to!!</p></li><li data-aos="slide-up"><p>Love these! No more sore heels from traditional footies!</p></li><li data-aos="slide-up"><p>I use the gekks on my work flat and they work great! I use the flats all day long and they stay on. I'm definitely buying more</p></li><li data-aos="slide-up"><p>They don’t slip off my foot and my shoes now have zero odor. I’ve told all the other ladies in my office to buy these!</p></li><li data-aos="slide-up"><p>Love them! Super comfortable and no annoying slip off your heal like other alternatives I have tried</p></li></ul><h3 class="tar"><a href="/pages/reviews" class="text-green">read more</a></h3> </section> <section id="take-the-quiz" class="tac"><h1 class="text-green tac">Find Your Perfect Match.</h1> <a href="/pages/customize"><div class="button border-green text-green" onclick="ga('send', 'event', 'Index Page', 'Click', 'Customize Flow');">Start</div></a> </section></div></div></div> <script>on_index=true;</script>

<script>
  $(document).ready(function () {
    setInterval(function(){
      if ($("#custom-gekks").is(":visible")) {
        $( ".button" ).first().effect( "shake", {direction: 'right', distance: '5', times: 1 }, 600 )
      }
      }, 6000);
  }); 
</script>