<main id="hiw-page">	     
  <section class="background-green tac page-header">
	<h1 class="nmb">No More FOFO.</h1>
	<h2 class="nmt">(Fear of foot odor)</h2>
  </section>
  <div id="int-wrapper-do">
  <div class="do-text" id="do-no-show">
    <p class="b-title"><b>No show, really</b></p>
    <p class="do-explain">Gekks line the interior heel, sole, and tongue of your shoe providing a complete no show solution.</p>
    <div onClick="ga('send', 'event', 'Above the Fold', 'Desktop', 'Benefit');">+</div>
    <p class="do-benefit invis"><b>Benefit:</b> Don’t embarrass yourself with no shows that…show.</p>
  </div>
  <div class="do-text" id="do-tongue-fasten">
    <p class="b-title"><b>Patented fastening system</b></p>
    <p class="do-explain">Micro-thin fastener connects the sock to the inside of your shoe.</p>
    <div onClick="ga('send', 'event', 'Above the Fold', 'Desktop', 'Benefit');">+</div>
    <p class="do-benefit invis"><b>Benefit:</b> Installation to your shoe allows you to slip in and out barefoot on the go.</p>
  </div>
  <div class="do-text" id="do-moisture-wick">
    <p class="b-title"><b>Moisture wicking</b></p>
    <p class="do-explain">Our moisture wicking fibers work to pull the moisture out of your foot for a dry feel.</p>
    <div onClick="ga('send', 'event', 'Above the Fold', 'Desktop', 'Benefit');">+</div>
    <p class="do-benefit invis""><b>Benefit:</b> Stay cool and fresh all day.</p>
  </div>
  <div class="do-text do-text-below" id="do-heel-fasten">
    <p class="b-title nm"><b>Patented fastening system</b></p>
    <p class="do-explain nm">Micro-thin fastener connects the sock to the inside of your shoe.</p>
    <section class="do-benefit-hide nm"><div class="do-plus" onClick="ga('send', 'event', 'Above the Fold', 'Desktop', 'Benefit');">+</div></section>
    <p class="do-benefit invis" ><b>Benefit:</b> Stop using regular no shows that slide down your ankle, bunch up, and don’t protect against blisters.</p>
  </div>
  <div class="do-text do-text-below" id="do-odor-killing">
    <p class="b-title nm"><b>Odor eliminating yarn</b></p>
    <p class="do-explain nm">Gekks are knit with high-tech silver anti-microbial yarn used by NASA to eliminate odor as you sweat.</p>
    <section class="do-benefit-hide nm"><div class="do-plus" onClick="ga('send', 'event', 'Above the Fold', 'Desktop', 'Benefit');">+</div></section>
    <p class="do-benefit invis"><b>Benefit:</b> Leave Gekks inside your shoes for weeks without washing, without them getting dirty.</p>
  </div>
</div>
<div id="int-wrapper">
  <div class="text-solution" id="tb-one" onClick="ga('send', 'event', 'Above the Fold', 'Mobile', 'Plus');">
    <div><p>no show</p></div>
    <div class="info-label" id="no-show" style="margin-top: 0;">
      <img data-src="{{'no-show.png' | asset_url}}" class="card-photo lazyload" />
      <div class="card-text"><p class="subscript">Gekks line the interior heel, sole, and tongue of your shoe providing a no show solution.<br><br><b>benefit:</b> go sockless with confidence and style.  don’t embarrass yourself with no shows that... show.</p></div>
    </div>
  </div>
  <div class="text-solution slb" id="tb-two" onClick="ga('send', 'event', 'Above the Fold', 'Mobile', 'Plus');">
    <div><p>fastening<br>system</p></div>
   <div class="info-label" id="tongue-fasten">
      <img data-src="{{'front-tongue2.png' | asset_url}}" class="card-photo lazyload" />
      <div class="card-text"><p class="subscript">micro-thin fastener connects the sock to the inside of your shoe.<br><br>
      <b>benefit:</b> installed into your shoes vs. placed on your foot, providing the convenience of slipping in and out barefoot on the go.</p></div>
    </div>
   </div>
  <div class="text-solution slb" id="tb-three" onClick="ga('send', 'event', 'Above the Fold', 'Mobile', 'Plus');">
    <div><p>moisture <br>wicking</p></div>
    <div class="info-label" id="moisture-wick">
      <img data-src="{{'moisture-wicking.png' | asset_url}}" class="card-photo lazyload" />
      <div class="card-text"><p class="subscript">knit with highly technical moisture wicking yarn.<br><br>
      <b>benefit:</b> stay cool, comfortable and fresh on a long day.</p></div>
      </div>  
   </div>
  <div class="text-solution text-solution-below slb" id="tb-four" onClick="ga('send', 'event', 'Above the Fold', 'Mobile', 'Plus');">
    <div><p>fastening<br>system</p></div>
    <div class="info-label" id="heel-fasten">
      <img data-src="{{'backheel3.png' | asset_url}}" class="card-photo lazyload" />
      <div class="card-text"><p class="subscript">micro-thin fastener connects the sock to the inside of your shoe.<br><br>
      <b>benefit:</b> stop using regular no shows that slide down your ankle, bunch up and don’t protect against blisters.</p></div> 
    </div>  
   </div>
  <div class="text-solution text-solution-below slb" id="tb-five" onClick="ga('send', 'event', 'Above the Fold', 'Mobile', 'Plus');">
    <div><p>odor <br>eliminating</p></div>
    <div class="info-label" id="odor-killing">
      <img data-src="{{'odor-killing.png' | asset_url}}" class="card-photo lazyload" />
      <div class="card-text"><p class="subscript">Gekks are knit with high-tech silver anti-microbial yarn used by NASA and the military to eliminate odor as you sweat.<br><br>
      <b>benefit:</b> leave Gekks inside your shoes for weeks without washing. they’re cleaner than wearing socks or going barefoot!</p></div>
      </div>  
   </div>
</div>
  <section class="index-padding flex-container">
    <div>
      <div class="title-border"></div>
      <h2>Gekks utilizes silver coated fiber which is FDA-cleared and CE-approved</h2>
      <p>It is a registered antimicrobial product line with the United States Environmental Protection Agency (EPA). This is the same product used by the US Marines and NASA.</p>
    </div>
  </section>
  <section class="background-lightgray tac index-padding">
    <h2 class="tac">Explore the Benefits of Silver</h2>
    <div class="flex-container">
       <ul class="icon-display">
          <li data-aos="slide-up"><img data-src="{{'clinicallyproven.svg' | asset_url}}" alt="Clinically Proven" class="lazyload"/><br><p><b class="text-green">clinically proven</b><br>third party testing supports 99.9% reduction of bacteria on fabric</p></li> 
          <li data-aos="slide-up"><img data-src="{{'permanent.svg' | asset_url}}" alt="Permanent" class="lazyload"/><br><p><b class="text-green">permanent</b><br>does not wash out at >200 industrial launderings</p></li> 
          <li data-aos="slide-up"><img data-src="{{'odorfree.svg' | asset_url}}" alt="Odor Free" class="lazyload"/><br><p><b class="text-green">odor free</b><br>Keeps your apparel smelling fresher and odor free</p></li> 
          <li data-aos="slide-up"><img data-src="{{'temperature_regulation.png' | asset_url}}" alt="Temperature Regulation" class="lazyload"/><br><p><b class="text-green">temperature regulation</b><br>keeps you cooler in the summer and warmer in the winter</p></li> 
        </ul>
      </div>
  </section>
  
  <section class="index-padding tac accent-section">
    <p class="index-padding">Gekks is proud to use REPREVE polyester yarn - high quality, eco friendly fiber that is made of 100% recycled materials, including post-consumer water bottles and pre-consumer waste.</p>
  </section>
  <section class="index-padding-bo">
    <section class="flex-container-no accent-section">
      <div class="half background-beige" id="polyester">
      </div>
      <div class="half flex-container-no" id="repreve">
        <h2 class="text-green accent-padding">REPREVE has recycled over 10 million plastic bottles!</h2>
      </div>
    </section>
    <section class="flex-container-no accent-section">
      <div class="half background-lightgray" id="recycledresin">
      </div>
      <div class="half background-beige" id="plasticbottles">
      </div>
    </section>
  </section>
</main>

