   <main id="page" class="latest-news">    
      <section class="background-green tac page-header">
          <h1 class="nmb text-white">Press</h1>
          <h2 class="nmt">contact us directly at <a href="mailto:gosockless@mygekks.com">gosockless@mygekks.com</a></h2>
        </section>
   <div class="index-padding">  
        <section class="flex-container">
          <div class="third flex-container">
            <div>
              <img src="{{'gh.png' | asset_url}}" alt="Total Frat Move" />
              <div class="title-border"></div>
              <p>Featured Gekks as one of the Best No-Show Socks (and the only one that works with heels).</p>
              <h3><a target="_blank" href="https://www.goodhousekeeping.com/clothing/g27243937/no-show-socks/">read more</a></h3>
            </div>
          </div>
          <div class="third flex-container">
            <div>
              <img src="{{'vogue.png' | asset_url}}" alt="Vogue" />
              <div class="title-border"></div>
              <p>Featured Gekks as a top 10 "Life Improving Product"</p>
              <h3><a target="_blank" href="http://www.vogue.com/8701107/social-shopper-gadgets-for-2015/">read more</a></h3>
            </div>
          </div>
          <div class="third flex-container">
            <div>
              <img src="{{'maxim.png' | asset_url}}" alt="Maxim" />
              <div class="title-border"></div>
              <p>Featured Gekks in their article on 3 ways to tech out your wardrobe"</p>
              <h3><a target="_blank" href="http://www.maxim.com/accessories/3-ways-tech-out-your-wardrobe">read more</a></h3>
            </div>
          </div>
        </section>
        <section class="flex-container">
          <div class="third flex-container">
            <div>
              <img src="{{'tfm.jpg' | asset_url}}" alt="Total Frat Move" />
              <div class="title-border"></div>
              <p>Featured Gekks as "New Product Promises To Make Your Sperrys Stop Smelling Like Death Mixed With Spoiled Cottage Cheese"</p>
              <h3><a target="_blank" href="http://totalfratmove.com/new-product-promises-to-make-your-sperrys-stop-smelling-like-death-mixed-with-spoiled-cottage-cheese/">read more</a></h3>
            </div>
          </div>
          <div class="third flex-container">
            <div class="fw">
              <img src="{{'BuzzFeed.png' | asset_url}}" alt="Buzzfeed"/>
              <div class="title-border"></div>
              <p>Buzzfeed featured Gekks as a must have summer product</p>
              <h3><a target="_blank" href="https://www.buzzfeed.com/geico/amazing-products-you-need-if-you-spend-your-summer">read more</a></h3>
            </div>
          </div>
          <div class="third flex-container">
            <div class="fw">
              <img src="{{'the-manual-logo.jpg' | asset_url}}" alt="Examiner.com" />
              <div class="title-border"></div>
              <p>Featured Gekks as one of the Best No-Show Socks to Keep Feet Happy and Stink Free</p>
              <h3><a target="_blank"href="https://www.themanual.com/fashion/best-mens-no-show-socks/?fbclid=IwAR0f0tEwkJWURti9GQ50bk0lnDys7uzvDvOxnOdDwdZRxlJ4ViQKqQFNZy8">read more</a></h3>
            </div>
          </div>
        </section>
        <section class="flex-container">
           <div class="third flex-container">
            <div class="fw">
              <img src="{{'realsimple.png' | asset_url}}" alt="Real Simple" />
              <div class="title-border"></div>
              <p>Featured Gekks as a clever item to simplify your life</p>
              <h3><a target="_blank"href="https://www.realsimple.com/work-life/life-strategies/problem-solvers-081216">read more</a></h3>
            </div>
          </div>
          <div class="third flex-container">
            <div class="fw">
              <img src="{{'elvis.jpg' | asset_url}}" alt="Elvis Duran"/>
              <div class="title-border"></div>
              <p>Featured Gekks in their #WhatsTrending Segment on air. The program consistently ranks No. 1 across multiple demographics and top markets</p>
              <h3><a target="_blank" href="http://www.elvisduran.com/articles/whats-trending-461825/whatstrending-summer-lovin-gekks-coolibar-14456340/" >read more</a></h3>
            </div>
          </div>
          <div class="third flex-container">
            <div class="fw">
              <img src="{{'who-what-wear-press.png' | asset_url}}" alt="Who What Wear" />
              <div class="title-border"></div>
              <p>Featured Gekks in their article "The Genius Invention You Need To Buy If You Wear Flats"</p>
              <h3><a target="_blank" href="http://www.whowhatwear.com/gekks-invention-for-flats">read more</a></h3>
            </div>
          </div>
        </section>
         <section class="flex-container">
          <div class="third flex-container">
            <div class="fw">
              <img src="{{'shefinds-_logo.png' | asset_url}}" alt="She Finds" />
              <div class="title-border"></div>
              <p>Featured Gekks in their article "What You Should Wear With Flats (It's Not No-Show Socks)!</p>
              <h3><a target="_blank" href="http://www.shefinds.com/2016/what-you-should-wear-with-flats-its-not-no-show-socks/">read more</a></h3>
            </div>
          </div>
          <div class="third flex-container">
            <div class="fw">
              <img src="{{'hinsdale.jpg' | asset_url}}" alt="Hindsdale Living"/>
              <div class="title-border"></div>
              <p>Featured Gekks in their April 2016 Edition</p>
              <h3><a target="_blank" href="http://hinsdalelivingmagazine.com/index.php/component/content/article/79-slide/1304-stick-and-move">read more</a></h3>
            </div>
          </div>
          <div class="third flex-container">
            <div class="fw">
              <img src="{{'neb.jpg' | asset_url}}" alt="New England Boating" />
              <div class="title-border"></div>
              <p>Featured Gekks in their March 2016 Edition</p>
              <h3><a target="_blank" href="http://newenglandboating.com/news/odorless-boat-shoe-insert.html">read more</a></h3>
            </div>
          </div>
        </section>
        <section class="flex-container">
          <div class="third flex-container">
            <div class="fw">
              <img src="{{'kempt.jpg' | asset_url}}" alt="Kempt" />
              <div class="title-border"></div>
              <p>Featured Gekks as one of "The Eight Best New Menswear Kickstarters"</p>
              <h3><a target="_blank" href="http://www.getkempt.com/stylist/the-eight-best-new-menswear-kickstarters.php" >read more</a></h3>
            </div>
          </div>
          <div class="third flex-container">
            <div class="fw">
              <img src="{{'thrillist.png' | asset_url}}" alt="Thrillist"/>
              <div class="title-border"></div>
              <p>Thrillist reported us as one of the best Kickstarter projects in March 2014.</p>
              <h3><a target="_blank"  href="http://www.supercompressor.com/gear/glowdeck-ion-gekks-best-kickstarter-projects-during-the-week-ending-march-28-2014">read more</a></h3>
            </div>
          </div>
          <div class="third flex-container">
            <div class="fw">
              <img src="{{'trendabl.jpg' | asset_url}}" alt="Trendabl" />
              <div class="title-border"></div>
              <p>Featured Gekks as a comfortable and convient odor control solution</p>
              <h3><a target="_blank" href="http://www.trndbl.com/#!Comfort-convenience-and-odor-control-for-the-sockless-look/c1kod/65C68327-D567-4438-B3B8-18F910C621DE"">read more</a></h3>
            </div>
          </div>
        </section>
        <section class="flex-container">
          <div class="third flex-container">
            <div class="fw">
              <img src="{{'suburban.jpg?' | asset_url}}" alt="My Suburban" />
              <div class="title-border"></div>
              <p>Featured Gekks as a convenient alternative to no-show socks</p>
              <h3><a target="_blank"  href="http://www.mysuburbanlife.com/2014/03/24/im-tired-of-searching-for-them-i-wish-they-were-just-in-my-shoe/ahmilmy/" >read more</a></h3>
            </div>
          </div>
          <div class="third flex-container">
            <div class="fw">
              <img src="{{'nantucket.jpg' | asset_url}}" alt="Nantucket Magazine"/>
              <div class="title-border"></div>
              <p>Featured Gekks in their June 2014</p>
              <h3><a target="_blank" href="http://issuu.com/n-magazine/docs/n_mag_june/26?e=0">read more</a></h3>
            </div>
          </div>
          <div class="third flex-container">
            <div class="fw">
              <img src="{{'examiner.jpg' | asset_url}}" alt="Examiner.com" />
              <div class="title-border"></div>
              <p>Featured Gekks as a must have item for men</p>
              <h3><a target="_blank"href="http://www.examiner.com/review/the-2014-must-have-item-for-men">read more</a></h3>
            </div>
          </div>
        </section>
        </div>
        </main>