<main id="page" class="about-us">      
<section class="background-green tac text-white page-header">
  <h1 class="text-white">Meet Brothers<br>Justin and Christian</h1>
</section>

<section class="index-padding-to" id="timeline">
  <div class="flex-container-no">

  <div class="half tar" id="spacing-div">
      <img data-src="{{'matching.jpg' | asset_url}}" class="timeline-photo lazyload" id="matching"/>
    <div>
      <h2 class="text-green year-highlight nmb">2005</h2><br>
      <p>Justin and Christian join a fraternity in college and wear smelly boat shoes</p>
    </div>
    <div>
      <h2 class="text-green year-highlight nmb">2013</h2><br>
      <p>Justin moves to NYC and is annoyed by his sticky boat shoes on hot summer days, and wants a better solution to no-show socks.</p><br>
      <p>He buys a sewing machine and plays with silicone adhesive in his kitchen (against his wife's wishes) trying to stick a sock inside a shoe.</p>
    </div>
    <div class="flex-container-no jce">
      <img data-src="{{'family1.png' | asset_url}}" class="timeline-photo lazyload" id="iz"/>
      <p id="spacer-timeline" class="accent-padding">Justin and his wife move back to Chicago and have Isabella</p>
      <div class="connecter"></div>
    </div>
    <div>
    <div class="flex-container-no jce">
      <p class="accent-padding">Publications start to endorse Gekks as a great solution to pair with different types of stylish shoes</p>
      <div class="connecter"></div><br>
    </div>
      <img data-src="{{'aboutus-logo.png' | asset_url}}" alt="BuzzFeed, Maxim, Vogue, She Finds, Real Simple" class="accent-image accent-padding lazyload">
    </div> 
    <div class="flex-container-no jce">
      <img data-src="{{'family3.png' | asset_url}}" class="timeline-photo lazyload" id="boys"/>
      <p class="accent-padding">Justin and Christian have boys within a month of each other wives convince them to launch Baby Gekks (in process)</p>
      <div class="connecter"></div>

    </div> 
    <div>
      <h2 class="text-green year-highlight nmb">2017</h2><br>
      <p>Kaitlyn joins the team. Gekks moves its headquarters to Northern Chicago</p>
    </div> 
  </div> 
  <div class="half" id="timeline-right-half">
    <div>
      <img data-src="{{'family01.png' | asset_url}}" class="timeline-photo lazyload" id="samesies" />
      <h2 class="text-green year-highlight nmb">1995</h2><br>
      <p>Mom dresses all brothers the same</p>
    </div>
    <div>
      <img data-src="{{'family2.png' | asset_url}}" class="timeline-photo lazyload" id="brothers"/>
      <h2 class="text-green year-highlight nmb">2007</h2><br>
      <p>They begin their finance careers - quickly get tired of being number monkeys</p>
    </div>
    <div>
      <h2 class="text-green year-highlight nmb">2014</h2><br>
      <p>Christian quits his job to join Justin and start by launching Gekks on Kickstarter, which raised $100,000 of pre-sales in 30 days</p>
    </div> 
    <div class="flex-container-no jcs">
      <div class="connecter"></div>
      <p class="accent-padding">Justin and Christian live in a small town in upstate New York for three months while programming a silicone coating machine that manufactures the first batch of Gekks</p>
      <img data-src="{{'family4.png' | asset_url}}" class="timeline-photo lazload" id="justin-fam"/>

    </div> 
    <div>
      <h2 class="text-green year-highlight nmb">2015</h2><br>
      <p>Manufacturing problems convince Justin, Christian and George, their oldest brother, to drive a Uhaul to NY to pick up their silicone coating machines in the middle of the night and drive back to Chicago (see article in Inc. Magazine), where they could oversee the quality and speed of the production line</p>
    </div> 
    <div>
      <h2 class="text-green year-highlight nmb">2016</h2><br>
      <p>To reach a broader market, Gekks develop and launch a new fastening system for flats, loafers and sneakers that include leather, cloth and vinyl interiors.</p>
    </div> 
    <div id="twenty-eight">
      <h2 class="text-green year-highlight nmb">2018</h2><br>
      <p>Gekks for heels officially launched, and Jess joins the team. Gekks moves it headquarters and manufacturing to two new facilities located in the West Loop of Chicago</p>
    </div>
  </div>
</div>
  <div class="tac">
    <h2 class="text-green nm">now</h2>
    <p>The team is hard at work improving Gekks everyday</p>
  </div> 
  <img data-src="{{'Pairs-03.svg' | asset_url}}" class="lazyload" id="shoe-down"/>
  <img data-src="{{'Pairs-01.svg' | asset_url}}" class="lazyload" id="shoe-up"/>
</section>

<section class="accent-section index-padding" id="meet-the-team">
  <h2 class="tac">Meet the Team</h2>
  <div class="flex-container-no ais">
    <div class='third tac'>
      <img data-src="{{'justin.png' | asset_url}}" class="fw lazyload"/>
      <h3 class="text-green nmb">Justin Arquilla</h3>
      <p class="subscript nmt">Co-Founder</p>
    </div>
    <div class='third tac'>
      <img data-src="{{'christian.png' | asset_url}}" class="fw lazyload"/>
      <h3 class="text-green nmb">Christian Arquilla</h3>
      <p class="subscript nmt">Co-Founder</p>
    </div>
    <div class='third tac'>
      <img data-src="{{'kaitlyn.png' | asset_url}}" class="fw lazyload"/>
      <h3 class="text-green nmb">Kaitlyn Bradshaw</h3>
      <p class="subscript nmt">Web Developer & Operations, Director</p>
    </div>
  </div>
  <div class="flex-container-no ais">
    <div class='third tac'>
      <img data-src="{{'jess.png' | asset_url}}" class="fw lazyload"/>
      <h3 class="text-green nmb">Jess Fang</h3>
      <p class="subscript nmt">Design and Brand Experience Director</p>
    </div>
    <div class='third tac'>
      <img data-src="{{'opal.png' | asset_url}}" class="fw lazyload"/>
      <h3 class="text-green nmb">Opal Bradshaw</h3>
      <p class="subscript nmt">Product Tester</p>
    </div>
    <div class='third tac'>
      <img data-src="{{'picci.png' | asset_url}}" class="fw lazyload"/>
      <h3 class="text-green nmb">Picci Arquilla</h3>
      <p class="subscript nmt">Security Guard</p>
    </div>
  </div>
</section>
</main>