<section id="progress" class="tac mo-plus">
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
</section>
<section class="flex-container-no jcc tac index-padding background" id="ch">
  <section class="content">
    <img src="{{'jlogo.png' | asset_url}}" alt="Gekks" id="flowgo"/>
    <h2 class="nmt">Say goodbye<br> to stinky, smelly, <br>and sweat feet.</h2>
    <div class="button clickable border-green text-green background-white"><span>Show me how!</span></div>
  </section>
  <section class="content" style="display: none;" id="sockless-style">
    <h2>Tap your sockless style problems.</h2>
    <div class="flex-container-no index-padding">
      <div class="problems clickable accent-padding" data-solution="Gekks are knit with odor killing yarn (the same yarn used by the military and NASA!)"><img src="{{'odorfree.svg' | asset_url}}" /><br><span class="text-green">foot odor</span></div>
      <div class="problems clickable accent-padding" data-solution="Gekks lock and stay INSIDE your shoes."><img src="{{'Flow_sockadjustment.svg' | asset_url}}" /><br><span class="text-green">constant sock adjustments</span></div>
      <div class="problems clickable accent-padding" data-solution="Gekks provide sock comfort in the front and blister protection in the back."><img src="{{'Flow_heelblisters.svg' | asset_url}}" /><br><span class="text-green">heel blisters</span></div>
      <div class="problems clickable accent-padding" data-solution="Gekks stay inside your shoes. Never search for socks again."><img src="{{'Flow_sockdrawer.svg' | asset_url}}" /><br><span class="text-green">searching the "sock drawer"</span></div>
    </div>
    <div class="button clickable border-green text-green"><span>Solve my problems.</span></div>
    <div class="clickable subscript return"><span>← back</span></div>
  </section>
</section>

<script>
  $('#ch .button').click(function() {
    $(this).parent().hide().next('.content').show();
    $('#ch').removeClass('background')
  })
  $('.return').click(function() {
    $(this).parent().hide().prev('.content').show();
  })
  $('#sockless-style .problems').click(function () {
    $(this).addClass('background-beige flex-container-no jcc').html("<p>" + $(this).attr("data-solution") + "</p>")
  })
</script>
<style>
.bubble {
  width: 25px;
  height: 25px;
  margin: 20px 40px;
  border: 2px solid #6DCDB8;
  display: inline-block;
  border-radius: 100%;
}
.return { margin-top: 50px; }
#sockless-style .problems { border-radius: 15px; }
#sockless-style .clickable.problems {height: 200px; width: 200px; margin: 10px;}
.problems img { max-width: 100px; }

#flowgo {
  width: 80%;
  max-width: 300px;
}
.content:nth-of-type(2) .flex-container-no { margin-bottom: 50px; }
#ch { 
margin-top: 87px;
 }
 @media only screen and (min-width: 800px) {
  #ch.background {
    position: relative;
    z-index: 1;
  }
  #ch.background::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .4; 
  z-index: -1;
  background: url("{{'heels-lifestyle.jpg' | asset_url}}");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  }
}
</style>