<style>
.bubble {
  width: 20px;
  height: 20px;
  margin: 5%;
  border: 2px solid #6DCDB8;
  display: inline-block;
  border-radius: 100%;
}
#ch { min-height: fit-content; }
.modal { display: none !important; }
.content { max-width: 100%;}
#sockless-style .problems { border-radius: 15px; }
.problems img { max-width: 100px; }

#flowgo {
  width: 80%;
  max-width: 300px;
}
@media only screen and (max-width: 799px) {
  #ch { 
    min-height: 70vh; } 
  header { display: none; }
  footer { display: none; }
  body {
    height: 100vh;
    border: 10px solid #F9F2ED;
    box-sizing: border-box;
    min-height: fit-content;
  }
  #og-gif { width: 280px; max-width: 100%; }
  .return { margin-top: 20px; }
  #sockless-style .clickable.problems {
    border: 2px solid #F9F2ED;
    display: flex;
    width: 100%;
    margin: 5px;
    align-items: center;
  }
  .problems img { max-width: 50px; margin: -10px 0;}
  #sockless-style h2 { margin-bottom: 0; }
  #sockless-style span.text-green { width: 100%; }
}
@media only screen and (min-width: 589px) and (max-width: 799px) {
    .button { width: 300px; }
}

@media only screen and (max-width: 588px) {
  .button { width: 200px; }
  .bubble {
    width: 15px;
    height: 15px;
    margin: 5% 2%;
    border: 2px solid #6DCDB8;
    display: inline-block;
    border-radius: 100%;
}
.accent-padding { padding: 0; } 
#sockless-style span.text-green { margin: 10px 0; }
#flowgo { width: 60%; }
}
 @media only screen and (min-width: 800px) {

#sockless-style .clickable.problems {height: 200px; width: 180px; margin: 10px; padding: 10px;}
.content:nth-of-type(2) .flex-container { margin-bottom: 50px; }
  .return { margin-top: 50px; }

.button { width: 300px; }
  #ch.background {
    position: relative;
    z-index: 1;
  }
  #ch { 
  margin-top: 87px;
   }
  #ch.background::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .4; 
  z-index: -1;
  background: url("{{'heels-lifestyle.jpg' | asset_url}}");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  }
  #og-gif { max-width: 600px; }
}
#someone-purchased, #launcher { display: none !important; }
</style>
<section id="progress" class="tac mo-plus fw">
  <div class="bubble background-green"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
</section>
<section class="flex-container-no jcc tac index-padding background" id="ch">
  <section class="content">
    <img src="{{'jlogo.png' | asset_url}}" alt="Gekks" id="flowgo"/>
    <h2 class="nmt">Say goodbye<br> to stinky, smelly, <br>and sweat feet.</h2>
    <div class="button clickable border-green text-green background-white"><span>Show me how!</span></div>
  </section>
  <section class="content" style="display: none;" id="sockless-style">
    <h2>Tap your sockless style problems.</h2>
    <div class="flex-container index-padding">
      <div class="problems clickable" data-solution="Gekks are knit with odor killing yarn (the same yarn used by the military and NASA!)"><img src="{{'odorfree.svg' | asset_url}}" /><br><span class="text-green">foot odor</span></div>
      <div class="problems clickable" data-solution="Gekks lock and stay INSIDE your shoes."><img src="{{'Flow_sockadjustment.svg' | asset_url}}" /><br><span class="text-green">constant sock adjustments</span></div>
  
      <div class="problems clickable" data-solution="Gekks provide sock comfort in the front and blister protection in the back."><img src="{{'Flow_heelblisters.svg' | asset_url}}" /><br><span class="text-green">heel blisters</span></div>
      <div class="problems clickable" data-solution="Gekks stay inside your shoes. Never search for socks again."><img src="{{'Flow_sockdrawer.svg' | asset_url}}" /><br><span class="text-green">searching the "sock drawer"</span></div>
    </div>
    <div class="button clickable border-green text-green"><span>Solve my problems.</span></div>
    <div class="clickable subscript return"><span>← back</span></div>
  </section>
  <section class="content" style="display: none;" id="gekks-in-action">
    <h2 class="nmb">Gekks in action.</h2>
    <img src="{{'original.gif' | asset_url}}" class="accent-padding" id="og-gif" /><br>
    <a href="/?sh=d"><div class="button clickable border-green text-green"><span>I'm ready.</span></div></a>
    <div class="clickable subscript return"><span>← back</span></div>
  </section>
</section>

<script>
  $('#ch .button').click(function() {
    if (!($(this).parent().parent().attr("id") == "gekks-in-action")) {
      $(this).parent().hide().next('.content').show();
      $('#ch').removeClass('background'); 
      $('#progress .background-green').next().addClass('background-green'); 
    }
  })
  $('.return').click(function() {
    $(this).parent().hide().prev('.content').show();
    $('#progress .background-green').last().removeClass('background-green')
  })
  $('#sockless-style .problems').click(function () {
    $(this).addClass('background-beige flex-container-no jcc').html("<p>" + $(this).attr("data-solution") + "</p>")
  })
</script>